.coinContent {
    margin-top: 16px;
    .coinInput {
        width: 25%;
        margin-bottom: 24px;
    }
}
@media (max-width: 740px) {
    .coinContent {
        .coinInput {
            width: 50%;
        }
    }
}
